@import '../post/viewer/viewer.component.scss';
:host{
    ::ng-deep{
    .editor-panel, .preview-panel{
        overflow: auto1;
        padding: 1.5rem;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: .2rem;
    }
    .preview-panel{
        position: relative;
        
        @extend .markdown-text
        
    }

    .editor-panel{
        background-color: #fff; 
        outline: none;
        display: block;

        .title, .text, .category{
            border: none;
        }

        .title{
            min-height: 70px;
            overflow: hidden;
        }
    }
    .bottom-action-panel{
        margin-top: 1rem;
    }
    
}
}
