<!-- <section>
  <section fxFlex fxLayout="row">
    <section fxFlex>
      <section>
        <mat-toolbar fxLayoutAlign="space-between center">
          <span>EDITOR</span>
        </mat-toolbar>
      </section>
      <mat-divider></mat-divider>
      <section class="editor-panel">
        <form [formGroup]="post" fxFlex fxLayout="column" fxLayoutGap="1rem">
          <input type="text" class="mat-overline category" placeholder="category" />
          <textarea cdkTextareaAutosize formControlName="title" class="title mat-display-3" placeholder="Title"></textarea>
          <textarea class="text mat-body-1" formControlName="text" placeholder="What's on your mind..."
            cdkTextareaAutosize></textarea>

          <section class="bottom-action-panel" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="1rem">
            <button mat-button>CLEAR</button>
            <button mat-raised-button color="accent" [disabled]="post.invalid">
              PUBLISH
            </button>
          </section>
        </form>
      </section>
       <section class="editor-panel mat-body-1" #editorPanel></section> -->
<!-- </section>
<section fxFlex fxLayout="column">
  <section>
    <mat-toolbar>
      PREVIEW
    </mat-toolbar>
  </section>
  <mat-divider></mat-divider>
  <section class="preview-panel mat-typography mat-body-1" nxMarkdownPreview fxLayout="column" fxLayoutGap="1.5rem"></section>
</section>
</section>
</section> -->






<!-- <nx-container>
  <section class="mat-typography" style="background-color: #fff;"> -->
<!--  <textarea #editorPanel></textarea>
      <div [froalaEditor]>Hello, Froala!</div> -->
<!-- <div #toolbar> -->
<!-- Add font size dropdown -->
<!-- <select class="ql-header">
        <option value="mat-display-4"></option>
        <option value="mat-display-3"></option>
        <option value="mat-display-2"></option>
        <option value="mat-display-1"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option selected></option>
      </select>
      <select class="ql-size">
        <option value="small"></option> -->
<!-- Note a missing, thus falsy value, is used to reset to default -->
<!-- <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select> -->
<!-- Add a bold button -->
<!-- <button class="ql-bold"></button> -->
<!-- Add subscript and superscript buttons -->
<!-- <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </div>
    <section #editorPanel></section>
  </section>
</nx-container> -->
<mat-menu #categories="matMenu">
  <ng-container *ngFor="let category of postCategoryService.postCategories">
    <button mat-menu-item (click)="setPostCategory(category)" [innerText]="category.name"></button>
  </ng-container>
</mat-menu>
<nx-container>
  <section class="editor-panel">
    <form [formGroup]="post" fxFlex fxLayout="column" fxLayoutGap="1rem">
      <input [matMenuTriggerFor]="categories" formControlName="category" readonly type="text" class="mat-overline category" placeholder="category" />
      <textarea cdkTextareaAutosize formControlName="title" class="title mat-display-3" placeholder="Title"></textarea>
      <textarea class="text mat-body-1" formControlName="text" placeholder="What's on your mind..." cdkTextareaAutosize></textarea>

      <section class="bottom-action-panel" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <section>
          <button mat-stroked-button [disabled]="post.invalid">
            Save as Draft
          </button>
        </section>
        <section fxLayout="row" fxLayoutGap="1rem">
          <button mat-button type="reset">Clear</button>
          <button mat-stroked-button [disabled]="post.invalid">
            Preview
          </button>
          <button type="submit" mat-raised-button color="accent" [disabled]="post.invalid">
            Publish
          </button>
        </section>
      </section>
    </form>
  </section>
</nx-container>