:host{

    .editor-panel, .preview-panel{
        overflow: auto;
        padding: 1rem;
    }
    .preview-panel{

    }

    .editor-panel{
        outline: none;
        border: none;
        resize: none;
    }
}