<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem"> 
  <h1>Code Viewer</h1>
  <button mat-icon-button matTooltip="View source">
    <mat-icon>code</mat-icon> 
  </button>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-tab-group dynamicHeight="true">
  <mat-tab label="JS">
    <pre #jsTab><code class="javascript" [innerText]="js"></code></pre>
  </mat-tab>
  <mat-tab label="HTML">
    <pre #htmlTab><code class="html" [innerText]="html"></code></pre>
  </mat-tab>
  <mat-tab label="CSS">
    <pre #cssTab><code class="css" [innerText]="css"></code></pre>
  </mat-tab>
</mat-tab-group>
<mat-divider></mat-divider>
<section style="padding:1rem">
  <button mat-raised-button color="accent">
    Try it yourself!
  </button>

</section>
