<section fxLayout="column" fxLayoutGap="2rem">
  <nx-container>
    <h1 style="margin: 3rem auto 1.7rem" class="mat-display-3">Technology</h1>
  </nx-container>
  <mat-divider></mat-divider>
  <nx-container>
    <section fxLayout="row" fxLayoutGap.gt-sm="3rem" fxLayoutAlign="start start">
      <section fxFlex fxLayout="column" fxLayoutGap="3rem">
        <nx-post-preview-with-image></nx-post-preview-with-image>
        <mat-divider></mat-divider>
        <ng-template ngFor let-item [ngForOf]="[1,2,3,4,5,6,7,8,9]" let-isLast="last">
          <nx-post-preview class="ripple-surface"></nx-post-preview>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </ng-template>
      </section>
      <section fxFlex="300px" style="background-color: #e8e8e8; height: 300px;" fxHide fxShow.gt-sm>
      </section>
    </section>
  </nx-container>
</section>