@import '../_util';
.app-wrap{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.active-avatar{
    width: 32px;
    height: 32px;
    background-size: cover;
    border-radius: 50%;
}
mat-sidenav.left-side-drawer {
    width: 280px;
    border-right: 1px solid rgba(0,0,0,.1);
    .user-info{
//        padding: 1rem;
        .active-name{
            font-weight: 500;
        }
        .active-name, .active-email{
            margin-bottom: 0rem;
        }
    }

    mat-nav-list{
        mat-divider{
            margin: .5rem 0;
        }

        mat-list-item{
            &:not(.user-info):not(.active-avatar){
                border-top-right-radius: 40px;
                border-bottom-right-radius: 40px;
                overflow: hidden;
                margin-right: 1rem;
    
                &.active{
                    background-color: rgba($accent-color, .1);
                    color: $accent-color;
                }
            }

            &.user-info, &.active-avatar{
                &:hover{
                    background-color: transparent;
                    cursor: default;
                }
            }
        }
    }
}
footer{
    margin-top: auto;
    background-color: rgba(0,0,0,.04);
    padding: 2rem 3rem;
    border-top: 1px solid rgba(0,0,0,.1);

    a{
        text-decoration: none;
        color: rgba($primary-text-color, .7);
        font-weight: 400;
    }
}
