<mat-sidenav-container class="app-wrap">
  <mat-sidenav #sidenav class="left-side-drawer" [mode]="sideNavMode" [opened]="layout.media.isActive('gt-sm')">
    <!-- <mat-sidenav class="left-side-drawer" mode="side" opened="false"> -->
    <!-- <section class="user-info mat-typography" fxLayout="column" fxLayoutGap="1rem">
      <section>
        <figure class="active-avatar" style="background-image: url('https://avatars1.githubusercontent.com/u/16052650?s=460&v=4')"></figure>
      </section>
      <section>
        <h2 class="active-name">Nikx Fabrizio</h2>
        <h3 class="active-email">nikx.fabrizio@gmail.com</h3>
      </section>
    </section> -->
    <section style="background-image: url('https://i.pinimg.com/originals/a2/94/e1/a294e148d0d3081ee76421371b27e5d3.jpg'); background-size: cover; height: 200px; padding:1rem; box-sizing: border-box;">
      <nx-search-bar-top></nx-search-bar-top>
    </section>
    <mat-nav-list>
      <mat-list-item *ngIf="authenticationService.isSignedIn && authenticationService.currentUser" class="user-info" disableRipple>
        <img matListAvatar [src]="authenticationService.currentUser.avatar" [alt]="authenticationService.currentUser.name" />
        <h1 matLine class="active-name" [innerText]="authenticationService.currentUser.name"></h1>
        <p matLine [innerText]="authenticationService.currentUser.email"></p>
      </mat-list-item>
      <mat-divider *ngIf="authenticationService.isSignedIn"></mat-divider>
      <mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>Home</span>
      </mat-list-item>
      <mat-list-item routerLink="/editor" routerLinkActive="active">
        <mat-icon matListIcon>edit</mat-icon>
        <span matLine>Editor</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        <span matLine>Profile</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <span matLine>My Posts</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>favorite</mat-icon>
        <span matLine>Favorite</span>
      </mat-list-item>
      <!-- <mat-list-item>
        <mat-icon matListIcon>bookmarks</mat-icon>
        <span matLine>Bookmarks</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>settings</mat-icon>
        <span matLine>Settings</span>
      </mat-list-item> -->
      <mat-list-item *ngIf="!authenticationService.isSignedIn" (click)="signIn()">
        <mat-icon matListIcon>power_settings_new</mat-icon>
        <span matLine>Sign in</span>
      </mat-list-item>
      <mat-list-item *ngIf="authenticationService.isSignedIn" (click)="signOut()">
        <mat-icon matListIcon>power_settings_new</mat-icon>
        <span matLine>Sign out</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z4" style="z-index: 2; position: fixed;">
      <mat-toolbar-row fxLayoutGap="1rem">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Blog</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="sidenav-content" fxLayout="column" fxFlex style=" padding-top: 60px;">
      <router-outlet></router-outlet>
    <footer class="mat-typography">
      <section fxLayout="column" fxLayoutGap="2rem">
        <!-- <section>dwedwe</section>
        <mat-divider></mat-divider> -->
        <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
          <img src="/assets/nikx-logo-grayscale-c-small.png" width="90" />
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Feedback</a>
        </section>
      </section>
    </footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>