<article fxLayout="column" class="mat-typography" fxLayoutGap="1rem">
  <section fxLayout="row" fxLayoutAlign="space-between center">
    <section class="user-info" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
      <figure class="avatar" [ngStyle]="{'background-image':'url(' + post.avatar + ')'}"></figure>
      <section fxLayout="column">
        <h4 class="name" [innerText]="post.name"></h4>
        <span class="mat-caption">2 days ago</span>
      </section>
    </section>
    <mat-chip-list>
      <mat-chip>Technology</mat-chip>
    </mat-chip-list>
  </section>
  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1.5rem">
    <section fxLayout="column" flex-order="2" flex-order.gt-sm="1" fxFlex fxFlex.lt-md="none">
      <h1 class="title" [innerText]="post.title"></h1>
      <p class="mat-body-1 text" [innerText]="post.text"></p>
    </section>

    <figure fxFlex="153px" class="post-image" [ngStyle]="{'background-image':'url(' + post.avatar + ')'}"></figure>
  </section>


</article>