@import '../../../../../util';

:host{
//    background-color: #fff;


    figure{
        &.post-image{
            background-color:rgba(0,0,0,.1);
            width: 153px;
            height: 103px;
            background-size: cover;
        }
    }
    h1{
        &.title{
            margin-bottom: .4rem;
        }
    }
    .text{
        color: rgba(0,0,0,.7);
    }
    .user-info{
        .avatar{
            height: 40px; 
            width: 40px;
            border-radius: 20px;
            background-size: cover;
        }
        .name{
            margin-bottom: 0;
        }
    }
}