@import '../../../../_util';

:host{
    position: relative;
    .search-wrap{
        opacity: .7;
        border: 1px solid rgba(0,0,0,.1);
        background-color: #fff;
        border-radius: 2rem;
        padding-right: .2rem;
        transition: 150ms ease-out;

        &:hover{
            opacity: 1;
        }
        input[type=text]{
            outline: none;
            padding-left: 1rem;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            display: block;
            border: none;
            font-size: 1rem;
        }
        mat-icon{
            color: $primary-text-color;
        }
    }
}