<article fxLayout="column" class="mat-typography" fxLayoutGap=".6rem">

  <section fxLayout="column" fxLayoutGap="1rem" flex-order="2" flex-order.gt-sm="1">
    <section fxLayout="row" fxLayoutAlign="space-between center">
      <section class="user-info" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
        <figure class="avatar" [ngStyle]="{'background-image':'url(' + post.avatar + ')'}"></figure>
        <section fxLayout="column">
          <h4 class="name" [innerText]="post.name"></h4>
          <span class="mat-caption">2 days ago</span>
        </section>
      </section>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </section>
    <section>
      <h1 class="title" [innerText]="post.company.catchPhrase"></h1>
      <p class="mat-body-1 text">Ea qui cupidatat duis velit non. Laboris id amet magna, Ea qui cupidatat duis velit non. Laboris id amet magna.. </p>
    </section>
  </section>

  <figure flex-order="1" flex-order.gt-sm="2" class="post-image">
    <img src="https://cdn-images-1.medium.com/max/800/1*pRDcMwidr9b2K9FIGfe6Xw.png" alt="">
  </figure>

</article>