@import '../../../../../util';

:host{
//    background-color: #fff;


    figure{
        &.post-image{
            background-color: rgba(0, 0, 0, .1);
            height: auto;
            width: 100%;

            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    h1{
        &.title{
            margin-bottom: .4rem;
        }
    }
    .text{
        color: rgba(0,0,0,.7);
    }
    .user-info{
        .avatar{
            height: 40px; 
            width: 40px;
            border-radius: 20px;
            background-size: cover;
        }
        .name{
            margin-bottom: 0;
        }
    }
}