//@import '~@angular/material/theming';

// $custom-typography: mat-typography-config(
  //   $body-1: mat-typography-level(16px, 24px, 500)
  // );

  
$primary-text-color: rgba(0,0,0,.87);
$secondary-text-color: rgba(0,0,0,.57);
$primary-color: rgb(63, 81, 181);
$accent-color: rgb(255, 64, 129);


@function mobile-to-web-font-size($value, $addUnit: true) {
  $conversionRatio: 0.0625;
  @if $addUnit == true {
    @return ($value*$conversionRatio)+rem;    
  }
  @return $value*$conversionRatio;
}

// @function line-height-for($value) {
//   $height: $value*1.4;
//   @return mobile-to-web-font-size($height, false);
// }


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}