/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'util';
@import 'node_modules/highlight.js/styles/railscasts.css';

*{
	outline: none;
}
body, html{
	height: 100%;
	-webkit-font-smoothing: antialiased;
	color: #202124;
    cursor: auto;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.444;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
	word-wrap: break-word;
}
 
mat-sidenav {
  width: 250px;
}

a.linkified{
	font-weight: 500;
	text-decoration: none;
} 

.comment-input-wrap{
	.mat-form-field-infix{
		border-top:0;
	}
}
mat-divider{
	border-right: 1px solid rgba(0,0,0,.1);
}
nx-container{
	display: block;
	max-width: 1024px;
	&.xs{
		margin:.5rem auto;
		width: 90%
	}
	&.sm{
		margin:1rem auto;
		width: 90%
	}
	&.md{
		margin:1rem auto;
		width: 85%
	}
	&.lg{
		margin:1rem auto;
		width: 85%
	}
	&.xl{
		margin:1rem auto;
		width: 65%
	}
}

/* Rules for sizing the icon. */
mat-icon.mat-18 { 
	height: 18px;
	width: 18px;
	font-size: 18px; 
}
mat-icon.mat-24 { 
	height: 24px;
	width: 24px;
	font-size: 24px; 
}
mat-icon.mat-36 { 
	height: 36px;
	width: 36px;
	font-size: 36px; 
}
mat-icon.mat-48 { 
	height: 48px;
	width: 48px;
	font-size: 48px; 
}

/* Rules for using icons as black on a light background. */
mat-icon.mat-dark { color: rgba(0, 0, 0, 0.54); }
mat-icon.mat-dark.mat-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
mat-icon.mat-light { color: rgba(255, 255, 255, 1); }
mat-icon.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

.no-margin{
	margin:0 !important;
}
.no-padding{
	padding:0 !important;
}
.primary-text{
	color: $primary-text-color;
}
.secondary-text{
	color: $secondary-text-color;
}

.trailer-dialog, .sign-in-dialog, .photo-gallery-dialog{
	.mat-dialog-container{
		padding: 0 !important;
	}
}

.truncate-fadeout{
	position: relative;
	overflow: hidden;
	white-space: nowrap;

	&:after {
		content: "";
		pointer-events: none;
		position: absolute;
		width: 100px;
		height: 100%;
		top: 0; right: 0;
		
		background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
		background-image: -moz-linear-gradient(right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
		background-image: -ms-linear-gradient(right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
		background-image: -o-linear-gradient(right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
		background-image: linear-gradient(to left, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
	}
}

.truncate-fadeout-bottom{
	position: relative;
	pointer-events: none;
	
	&:before {
	  content:'';
	  width:100%;
	  height:100%;    
	  position:absolute;
	  left:0;
	  top:0;
	  background:linear-gradient(transparent 150px, white);
	}
}

.mat-overline{
	line-height: 1.57143;
    font-size: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  }