@import '../../../../_util';
.rich-text{
    line-height: 1.925;
    font-size: 16px;
    letter-spacing: 0;
    color: #000;
}
.post-title{
    margin: 1rem auto 1.7rem;
    line-height: 1.17857;
}
a.main-category{
    display: inline-block;
    text-decoration: none;
    margin-top: 3rem;
    color: $primary-text-color;

    &:hover{
        color: red;
    }
}
.avatar{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: rgba(#000, .1);
    background-image: url("https://s3.amazonaws.com/uifaces/faces/twitter/mrmartineau/128.jpg");
    background-size: cover;
    // border: 1px solid rgba(0, 0, 0, .1);
}