<article fxLayout="column" fxLayoutGap="2rem">
  <nx-container>
    <h1 style="margin: 3rem auto 1.7rem" class="mat-display-2">How The Next Generation of Human Experiences Will Be Designed</h1>
  </nx-container>
  <mat-divider></mat-divider>
    <nx-container fxLayout="row" fxLayoutGap.gt-sm="3rem">
      <section fxFlex class="mat-body-1" fxLayout="column" fxLayoutGap="2rem">
      <iframe height='300' scrolling='no' title='Mouse n Sliders Test jQuery' src='//codepen.io/poziomq/embed/preview/mOwBBX/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/poziomq/pen/mOwBBX/'>Mouse 'n Sliders Test jQuery</a> by qpoziomek (<a href='https://codepen.io/poziomq'>@poziomq</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>
      <p *ngFor="let a of [1,2,3,4,5,6,7,8,9]">
        Officia officia sunt nulla do culpa sint dolore ut in commodo esse. Adipisicing velit irure tempor officia ad commodo occaecat sit deserunt ullamco Lorem ullamco qui consequat. Magna nulla nulla tempor ex tempor ad id do ullamco. Enim ullamco Lorem reprehenderit et exercitation ipsum deserunt reprehenderit cupidatat. Aute magna esse laboris minim mollit laboris. Laborum ullamco non reprehenderit nulla aliqua culpa aliqua do est id. Consectetur cupidatat nostrud labore Lorem amet labore culpa ullamco deserunt aliquip.
      </p>
      </section>      
      <section fxFlex="300px" style="background-color: #e8e8e8; height: 300px;" fxHide fxShow.gt-sm>
      </section>
    </nx-container>
  </article> 