<article fxLayout="column" fxLayoutGap="2rem">
  <nx-container>
    <h1 class="post-title mat-display-3">
      <a href="#" class="mat-body-2 main-category mat-overline">GROW WITH GOOGLE</a>
      Shellebrating Christmas Island’s extraordinary nature with Street View and Google Earth
    </h1>
    <section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
      <figure class="avatar"></figure>
      <section fxLayout="column">
        <h3>Nick Allen</h3>
        <section>Published Apr 23, 2018</section>
      </section>
    </section>
  </nx-container>
  <mat-divider></mat-divider>
  <nx-container fxLayout="row" fxLayoutGap.gt-sm="3rem">
    <section fxFlex fxLayout="column" fxLayoutGap="2rem">
      <!-- <p class="markdown-text">
        The
        <b>Array.reduce()</b> method applies a function against an accumulator and each element in the array (from left to
        right) to reduce it to a single value.
      </p> -->
      <!-- <nx-code-viewer class="mat-elevation-z1" style="background: #fff;"></nx-code-viewer> -->
      <!-- <iframe height='300' scrolling='no' title='Mouse n Sliders Test jQuery' src='//codepen.io/poziomq/embed/preview/mOwBBX/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/poziomq/pen/mOwBBX/'>Mouse 'n Sliders Test jQuery</a> by qpoziomek (<a href='https://codepen.io/poziomq'>@poziomq</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe> -->
      <article class="markdown-text mat-typography mat-body-1" [innerHTML]="str | markdown" fxLayout="column" fxLayoutGap="1rem"></article>
      <!-- <p class="rich-text" *ngFor="let a of [1]">
        On Thursday, we said goodbye to Aretha “Queen of Soul” Franklin who lost her battle with pancreatic cancer at 76. This musical
        legend gave the world iconic hits like “Respect,” “Natural Woman,” “Think,” “I Say A Little Prayer,” and “Chain of
        Fools,” all of which came in as the most-searched Aretha Franklin songs this week. She never shied away from the
        opportunity to flaunt her dramatic furs and show-stopping hats, all while reaching octaves and bravados that could
        make anyone drown in their own tears. Celebrities, world leaders and fans alike took time to pay their respects with
        folks in D.C., Michigan, Maryland, Georgia and Mississippi continuing to Rock Steady and search for details on the
        Queen of Soul. May we forever ride the midnight train of soul and take a drive down the Freeway of Love because that’s
        what Aretha would want us to do.
      </p> -->
    </section>
    <section fxFlex="300px" style="background-color: #e8e8e8; height: 300px;" fxHide fxShow.gt-sm>
    </section>
  </nx-container>
</article>