<article class="post-container" fxLayout="column" fxLayoutGap="2rem">
  <nx-container>
    <a href="#" class="mat-body-2 main-category mat-overline">GROW WITH GOOGLE</a>
    <h1 class="post-title mat-display-3">
      Shellebrating Christmas Island’s extraordinary nature with Street View and Google Earth
    </h1>
    <section fxLayout="column" fxLayoutGap="2rem" fxLayoutGap.gt-sm="0rem" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
      <section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
        <figure class="avatar"></figure>
        <section fxFlex fxLayout="column">
          <h3>Nick Allen</h3>
          <section>Published Apr 23, 2018</section>
        </section>
      </section>
      <nx-sharing></nx-sharing>
    </section>
  </nx-container>
  <mat-divider></mat-divider>
  <nx-container fxLayout="row" fxLayoutGap.gt-sm="3rem">
    <section fxFlex fxLayout="column" fxLayoutGap="2rem">
      <article class="markdown-text mat-typography mat-body-1" [innerHTML]="str | markdown" fxLayout="column" fxLayoutGap="1.5rem"></article>
    </section>
    <section fxFlex="300px" style="background-color: #e8e8e8; height: 300px;" fxHide fxShow.gt-sm>
    </section>
  </nx-container>
</article>