<section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="space-evenly center">
  <a href="#" class="sharing-button">
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
  <a href="#" class="sharing-button">
  <mat-icon svgIcon="googleplus"></mat-icon>
  </a>
  <a href="#" class="sharing-button">
  <mat-icon svgIcon="twitter"></mat-icon>
  </a>
  <a href="#" class="sharing-button">
  <mat-icon>email</mat-icon>
  </a>
  <a href="#" class="sharing-button">
  <mat-icon class="mat-24">link</mat-icon>
  </a>
</section>