@import '../../../../util';

:host{
    .sharing-button{
        color: $primary-text-color;
        display: inline-block;
        height: 24px;
        width: 24px;
        padding: .4rem;
        border-radius: .3rem;
        transition: 100ms ease-out;

        &:hover{
            background-color: rgba(0,0,0,.1);
        }
    }
}