<section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-evenly center">
  <button mat-icon-button>
    <mat-icon svgIcon="facebook" class="mat-18"></mat-icon>
  </button>
  <button mat-icon-button>
  <mat-icon svgIcon="googleplus"></mat-icon>
  </button>
  <button mat-icon-button>
  <mat-icon svgIcon="twitter"></mat-icon>
  </button>
  <button mat-icon-button>
  <mat-icon>email</mat-icon>
  </button>
  <button mat-icon-button>
  <mat-icon class="mat-24">link</mat-icon>
  </button>
</section>